body {
  height: 100%;
  max-width: 100%;
}
header {
  width: 100%;
  height: 10%;
  background-color: red;
  margin-bottom: 20px;
}

.column-1 {
  background-color: orange;
  display: inline-block;
  width: 48%;
  height: 39%;
  vertical-align: top;
  border: 5px solid gold;
  border-radius: 60px;
  font-family: "Arial";
}

.column-2 {
  background-color: blue;
  display: inline-block;
  width: 48%;
  height: 39%;
  vertical-align: top;
  border: 5px dashed gold;
  border-radius: 25px;
  font-family: Helvetica;
  padding: 0 0 70px 0;
}

footer {
  width: 100%;
  height: 10%;
  background-color: green;
  margin-top: 20px;
}

a:hover {
  font-size: 40px;
}